/* RegisterPageStyle.css */
.login {
  background: url("https://thumbs.dreamstime.com/b/happy-creative-team-modern-office-business-startup-design-people-teamwork-concept-152300029.jpg") top left/cover no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  
}

.form-wrapper {
  position: relative;
  z-index: 1;
}

.form-wrapper form {
  background-color: #2d2e31;
  padding: 57px 65px;
  padding-bottom: 65px;
  border-radius: 10px;
}
.form-wrapper form {
  min-width: 400px;
  margin: 0 auto;
}

.title {
  color: #fff;
}

.input-group {
  position: relative;
  margin-bottom: 33px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.input--style-3 {
  padding: 5px 0;
  font-size: 16px;
  color: #ccc;
  background: transparent;
}

.input--style-3::-webkit-input-placeholder {
  color: #ccc;
}

.input--style-3:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

.input--style-3::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

.input--style-3:-ms-input-placeholder {
  color: #ccc;
}

.input--style-3:-ms-input-placeholder {
  color: #ccc;
}

.btn {
  display: inline-block;
  line-height: 40px;
  padding: 0 33px;
  font-family: Poppins, Arial, "Helvetica Neue", sans-serif;
  cursor: pointer;
  color: #fff;
  transition: all 0.4s ease;
  font-size: 18px;
}

.btn--radius {
  border-radius: 3px;
}

.btn--pill {
  border-radius: 20px;
}

.btn--green {
  background: #d6b14c;
}

.btn--green:hover {
  background: #e6c362;
}

.tekstForme {
  text-decoration: none;
  color: white;
}

.tekstForme:hover {
  text-decoration: none;
  color: white;
}
